@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Satoshi";
    font-weight: 700;
    src: url("/public/fonts/Satoshi-Black.otf");
  }
  
  @font-face {
    font-family: "Satoshi";
    font-weight: 600;
    src: url("/public/fonts/Satoshi-Bold.otf");
  }
  
  @font-face {
    font-family: "Satoshi";
    font-weight: 500;
    src: url("/public/fonts/Satoshi-Medium.otf");
  }
  
  @font-face {
    font-family: "Satoshi";
    font-weight: 400;
    src: url("/public/fonts/Satoshi-Regular.otf");
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.note {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .whole-page {
    display: none;
  }
  .note {
    display: block;
  }
}
